body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        to right,
        #d2b4947d 0%,
        #d2b4947d 35%,
        #ffffff 35%,
        #ffffff 100%
    );
}
.navbarb {
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.center {
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-size: 4.5cm;
    font-family: "Monaco", "Helvetica", Sans-serif;
    font-weight: 600;
}
.left {
    text-align: left;
    color: hsl(0, 0%, 100%);
    font-size: 4cm;
    font-family: "Monaco", "Helvetica", Sans-serif;
    font-weight: 600;
}
.p3 {
    font-family: "Lucida Console", "Courier New", monospace;
}
.button {
    background-color: #f3f3f3ff;
    border: 0px;
    color: #8a755f;
    /* padding: 32px 20px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 40px 16px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}
.buttonC {
    background-color: #f3f3f3ff;
    border-radius: 50%;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 1px 1px;
}
img {
    border-radius: 50%;
    width: 580px;
    height: 580px;
    padding-top: 50px;
    padding-left: 80px;
    object-fit: cover;
}
.fa {
    padding: 15px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 10px 10px;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
    background: white;
    color: #8a755f;
}
.fa-instagram {
    background: white;
    color: #8a755f;
}
.fa-github {
    background: white;
    color: #8a755f;
}
.fa-facebook {
    background: white;
    color: #8a755f;
}
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.h1 {
    color:#8a755f; 
    font-weight: bold; 
    text-align: right; 
    padding-right: 2px; 
    padding-left: 15px;
}
.h2 {
    color:#878787; 
    font-weight: bold; 
    text-align: left; 
    padding-left: 2px;
}

.h3 {
    color:#8a755f; 
    font-weight: bold; 
    text-align: left; 
    padding-right: 2px; 
    padding-left: 15px; 
    font-size: 55px;
}

.h4 {
    color:#878787; 
    font-weight: bold; 
    text-align: left; 
    font-size: 15px;
}